USE [PROJET_DATA]
GO
/****** Object:  StoredProcedure [dbo].[sp_getAeroportsArrivee]    Script Date: 11/02/2014 01:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getAeroportsArrivee]
AS
 SELECT AEROPORT_ARRIVEE FROM VOLS

GO
/****** Object:  StoredProcedure [dbo].[sp_getAeroportsDepart]    Script Date: 11/02/2014 01:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getAeroportsDepart]
AS
 SELECT AEROPORT_DEPART FROM VOLS

GO
/****** Object:  StoredProcedure [dbo].[sp_getHotels]    Script Date: 11/02/2014 01:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getHotels]
@AEROPORT_ARRIVEE nvarchar(100)
AS
 SELECT * FROM HOTELS WHERE AEROPORT_PROCHE = @AEROPORT_ARRIVEE

GO
/****** Object:  StoredProcedure [dbo].[sp_getVols]    Script Date: 11/02/2014 01:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getVols]
@AEROPORT_DEPART nvarchar(100),
@AEROPPORT_ARRIVEE nvarchar(100)
AS
 SELECT * FROM VOLS WHERE AEROPORT_DEPART=@AEROPORT_DEPART AND AEROPORT_ARRIVEE = @AEROPPORT_ARRIVEE

GO
/****** Object:  Table [dbo].[HOTELS]    Script Date: 11/02/2014 01:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOTELS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VILLE] [varchar](200) NOT NULL,
	[AEROPORT_PROCHE] [varchar](100) NOT NULL,
	[TARIF_NUIT] [numeric](19, 6) NOT NULL,
	[NOM] [varchar](100) NULL,
 CONSTRAINT [PK_HOTELS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VOLS]    Script Date: 11/02/2014 01:54:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VOLS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AEROPORT_DEPART] [varchar](100) NOT NULL,
	[AEROPORT_ARRIVEE] [varchar](100) NOT NULL,
	[DATE_DEPART] [date] NOT NULL,
	[TARIF] [numeric](19, 6) NOT NULL,
 CONSTRAINT [PK_VOLS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
